[submodule "ttf-google-fonts-git"]
	path = ttf-google-fonts-git
	url = https://aur.archlinux.org/ttf-google-fonts-git.git
[submodule "vivaldi"]
	path = vivaldi
	url = https://aur.archlinux.org/vivaldi.git
[submodule "vivaldi-ffmpeg-codecs"]
	path = vivaldi-ffmpeg-codecs
	url = https://aur.archlinux.org/vivaldi-ffmpeg-codecs.git
[submodule "zoom"]
	path = zoom
	url = https://aur.archlinux.org/zoom.git
[submodule "virtualbox-ext-oracle"]
	path = virtualbox-ext-oracle
	url = https://aur.archlinux.org/virtualbox-ext-oracle.git
[submodule "plymouth-git"]
	path = plymouth-git
	url = https://aur.archlinux.org/plymouth-git.git
[submodule "google-chrome"]
	path = google-chrome
	url = https://aur.archlinux.org/google-chrome.git
[submodule "webstorm"]
	path = webstorm
	url = https://aur.archlinux.org/webstorm.git
[submodule "gitbook-editor"]
	path = gitbook-editor
	url = https://aur.archlinux.org/gitbook-editor.git
[submodule "ubuntu-device-flash"]
	path = ubuntu-device-flash
	url = https://aur.archlinux.org/ubuntu-device-flash.git
